.row {
    margin: 0;
}

p {
    margin: 10px 0 10px 0;
    font-size: 24px;
    padding-left: 0;
    padding-right: 0;
    color: white;
}

.header {
    background-image: url("http://placekitten.com/1000/300");
    height: 20%;
}

#upper {
    background-color: #D92525;
    padding-top: 175px;
    padding-bottom: 175px;
}

#lower {
    background-color: #0E3D59;
    padding-top: 175px;
    padding-bottom: 175px;
}

.contact {
    background-color: #88A61B;
    padding-left: 0;
    padding-right: 0;
}

#linkedin {
    border: solid black 1px;

    border-bottom: 0;
}

#mail {
    border: solid black 1px;

    border-bottom: 0;
}

#github {
    border-top: solid black 1px;
}

.no-bottom {
    border-bottom: 0;
}