html
    link(rel = "stylesheet", href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    h1 Hello world!
        p I am the platform for blogging yo
        p Masters of the world or some junk like that