html
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")

    .container-fluid
    .row
    .header
        .col-md-2.col-md-offset-5
            h1.text-center Milos Zivadinovic
            h1.text-center mzdv

    .row
    #upper.info.col-md-12
        .content
            p.text-center Software development
            p.text-center Proficient in Javascript and related technologies (MEAN, Node.js, IO.js) with a thing for back-end development.

    .row
    #lower.info.col-md-12
        .content
            p.text-center Security consulting
            p.text-center Penetration testing and analysis with state of the art tools. Batteries included.

    .row
    .contact.col-md-12
        p.text-center Contact me

    .row.data
        .col-md-4.text-center
            a(href="https://www.linkedin.com/pub/milos-zivadinovic/") Linkedin
        .col-md-4.text-center
            a(href="https://github.com/mzdv") Github
        .col-md-4.text-center
            a(href="mailto:mzdv@outlook.com") Mail