html
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
    .container-fluid
    .row
    .header.col-md-12
        p.text-center Milos Zivadinovic
        p.text-center mzdv

    .row
    #upper.col-md-12
        p.text-center Software development
    .row
    #lower.col-md-12
            p.text-center Security consulting
    .row
    .contact.col-md-12
        p.text-center Contact me
        #linkedin.col-md-6
            p.text-center LinkedIn
        #mail.col-md-6
            p.text-center Mail