html
    link(rel = "stylesheet", href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    .header
        p Milos Zivadinovic
        p mzdv

    .body
        #left
            p Software development
        #right
            p Security consulting

    .contact
        p Contact me
        p LinkedIn
        p Mail